/*from tccdn minify at 2015-12-30 14:04:09,file：/touch/weixin/train/css/public/calendar/0.0.4/calendar.css*/
.calendar {
    padding: 0 10px 20px;
    font-family: helvetica, arial, sans-serif;
    background: #fff
}

.calendar-wrapper {
    margin-top: 10px
}

.calendar-wrapper table {
    width: 100%;
    border-collapse: collapse
}

.calendar-wrapper h3 {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px
}

.calendar-wrapper tr {
    height: 48px
}

.calendar-wrapper tr:first-child {
    height: 40px;
    background-image: -webkit-linear-gradient(bottom, transparent 50%, #dcdcdc 50%);
    background-image: linear-gradient(to bottom, transparent 50%, #dcdcdc 50%);
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: bottom
}

.calendar-wrapper th {
    width: 14.2857143%;
    color: #999;
    font-weight: 400
}

.calendar-wrapper td {
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    padding: 0 2px
}

.calendar-wrapper tr:nth-child(2) td {
    padding-top: 2px
}

.calendar-wrapper td > div {
    height: 40px;
    line-height: 40px
}

.calendar-wrapper td span {
    display: block;
    padding-top: 6px;
    line-height: 14px
}

.calendar-wrapper td p {
    font-size: 12px;
    line-height: 16px;
    color: #09bb07
}

.calendar .sunday p, .calendar .saturday p {
    color: #09bb07
}

.calendar .sunday, .calendar .saturday {
    color: #09bb07
}

.calendar .today > div {
    background: #f0f0f0;
    color: #333;
    border-radius: 5px
}

.calendar .disabled {
    color: #ccc
}

.calendar-wrapper .from-day > div, .calendar-wrapper .to-day > div {
    background: #09bb07;
    color: #fff;
    border-radius: 5px
}

.calendar-wrapper .from-day p, .calendar-wrapper .to-day p {
    color: #fff
}

.calendar-tips {
    background: rgba(0, 0, 0, .8);
    color: #fff;
    width: 180px;
    padding: 10px;
    border-radius: 5px;
    text-align: center
}

.calendar-tips.fixed {
    left: 50%;
    margin-left: 50%;
    bottom: 20px
}
